#add-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#note-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}

.note {
  display: grid;
  grid-template-columns: 1fr 80px;
  background-color: #eee;
  width: 300px;
  padding: 10px;
}

.note-inner {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

